.basic_heading {
  color: var(--color-primary-light-2);
  font-size: 2.5rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.bold_heading {
  color: black;
  font-size: 4rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.testimonials {
  margin: 10rem 0 5rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.testimonials__image {
  height: 10rem;
  width: 10rem;
  border-radius: 20%;
}

.testimonial_heading {
  color: var(--color-primary-light-2);
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

.testimonial_native {
  color: var(--color-primary-light-2);
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

.testimonial_text {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

/* Teams */

.teams {
  margin: 10rem 0 5rem 0;
}

.teams_doctors {
  display: flex;
  justify-content: space-evenly;
  margin: 5rem 0 0 0;
}

.teams_doctors__list {
  /* border: 1px solid black; */
  border: none;
  border-radius: 15px;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* -webkit-box-shadow: 0 -1.5px 28.5px 7.5px #ddd;
  -moz-box-shadow: 0 -1.5px 28.5px 7.5px #ddd; */
  box-shadow: var(--shadow-dark-2);
}

.teams_doctors__image {
  height: 20rem;
  padding: 1.5rem;
  border: none;
  border-radius: 10%;
}

.teams_doctors__heading {
  color: var(--color-primary-light-2);
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
}

.teams_doctors__role {
  color: var(--color-primary-light-2);
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.teams_doctors__button {
  width: 12rem;
  padding: 1.5rem;
  background-color: var(--color-primary-dark-2);
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  font-size: 1.3rem;
}

.teams_doctors__button:hover {
  color: var(--color-primary-light-2);
  background-color: var(--color-primary-light);
}
